
.cards{
  height: 45vw;
}


.animated-line {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 2s linear infinite;
}

@keyframes dash {
  from {
      stroke-dashoffset: 00;
  }

  to {
      stroke-dashoffset: 20;
  }
}
.animated {


  fill: rgb(255, 0, 0);
  width: 100px;
}


.warning{
background-color: rgb(255, 159, 159);
animation: piscante 0.6s linear infinite;
}
@keyframes piscante {
  100%{
    background-color: rgba(165, 42, 42, 0.233);
  }
  
}

rect{
  fill:rgba(165, 42, 42, 0)
}